{% extends "layout.njk" %}

{% block head %}

    <title>Portfolio - Mayk Brito</title>

{% endblock %}

{% block content %}

  <div id="wrapper">
    <img src="https://avatars2.githubusercontent.com/u/6643122?s=400&u=1e9e1f04b76fb5374e6a041f5e41dce83f3b5d92&v=4" alt="Mayk Brito">

    <h1>Mayk Brito</h1>  
  </div>

  <section class="cards">

    {% for item in items %}
    <!-- Cartao -->
    <div class="card" id="{{item.id}}"> 
      <div class="card_image-container {{ 'featured-wrapper' if item.featured }}">
        <img 
        src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" 
        alt=" Imagem de {{item.title}}">
        {% if item.featured %}
          <div class="featured">Featured</div>
        {% endif %}
      </div>

      <div class="card_content">
        <p>{{item.title}}</p>
      </div>

      <div class="card_info">
        <p>{{item.duration}}</p>
        <p class="card_price">{{item.price}}</p>
      </div>
    </div>
    {% endfor %}

  </section>

  <div class="modal_overlay">
    <div class="modal">
      <a class="close_modal">
        <i class="material-icons">close</i>
      </a>

      <div class="modal-content">
        <iframe src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>

  <script src="scripts.js"></script>

{% endblock %}